---
plugin: amazon.aws.aws_ec2

# AWS credentials loaded from environment variables (.env file)
# No need to specify here, will use AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY from environment

regions:
  - "{{ lookup('env', 'AWS_DEFAULT_REGION') | default('us-east-1', true) }}"

# Filter to only get running instances
filters:
  instance-state-name: running
  # Only get instances from this project
  "tag:Name":
    - Siege-Server
    - Web-Server
    - SQL-Server

# Use instance tags to create groups
keyed_groups:
  # Group by Name tag
  - key: tags.Name
    prefix: ""
    separator: ""

# Create groups based on instance tags
groups:
  siege: "'Siege-Server' in tags.Name"
  web: "'Web-Server' in tags.Name"
  sql: "'SQL-Server' in tags.Name"

# Host variables
hostnames:
  # Use public IP as hostname (use private_ip_address for internal)
  - public-ip-address

compose:
  # Set ansible connection variables
  ansible_host: public_ip_address
  ansible_user: "'ec2-user'"
  ansible_ssh_private_key_file: "lookup('env', 'ANSIBLE_SSH_PRIVATE_KEY') | default('~/.ssh/ansibleSSH.pem', true)"
