name: Build and Deploy HW3

on:
    workflow_dispatch:

env:
    AWS_REGION: ap-southeast-2
    TF_VERSION: 1.5.0

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Create application zip
              run: |
                  cd HW3
                  zip -j ../myapp.zip index.php styles.css logo_aws_reduced.gif
                  cd ..
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: myapp
                  path: myapp.zip
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
                  aws-region: ${{ env.AWS_REGION }}
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: ${{ env.TF_VERSION }}
            
            - name: Terraform Init
              working-directory: ./HW3/terraform/PaaS
              run: terraform init
            
            - name: terraform Import Application
              working-directory: ./HW3/terraform/PaaS
              env:
                TF_VAR_region: ${{ env.AWS_REGION }}
                TF_VAR_access_key: ${{ secrets.AWS_ACCESS_KEY }}
                TF_VAR_secret_key: ${{ secrets.AWS_SECRET_KEY }}
                TF_VAR_key_pair: ${{ secrets.KEY_PAIR_NAME }}
                TF_VAR_DBUser: ${{ secrets.DB_USER }}
                TF_VAR_DBPassword: ${{ secrets.DB_PASSWORD }}
                TF_VAR_app_version: "v${{ github.run_number }}"
                TF_VAR_app_zip_file: "${{ github.workspace }}/myapp.zip"
              run: terraform import aws_elastic_beanstalk_application.app web-application
            
            - name: Terraform Plan
              working-directory: ./HW3/terraform/PaaS
              env:
                TF_VAR_region: ${{ env.AWS_REGION }}
                TF_VAR_access_key: ${{ secrets.AWS_ACCESS_KEY }}
                TF_VAR_secret_key: ${{ secrets.AWS_SECRET_KEY }}
                TF_VAR_key_pair: ${{ secrets.KEY_PAIR_NAME }}
                TF_VAR_DBUser: ${{ secrets.DB_USER }}
                TF_VAR_DBPassword: ${{ secrets.DB_PASSWORD }}
                TF_VAR_app_version: "v${{ github.run_number }}"
                TF_VAR_app_zip_file: "${{ github.workspace }}/myapp.zip"
              run: terraform plan
            
            - name: Terraform Apply
              working-directory: ./HW3/terraform/PaaS
              env:
                TF_VAR_region: ${{ env.AWS_REGION }}
                TF_VAR_access_key: ${{ secrets.AWS_ACCESS_KEY }}
                TF_VAR_secret_key: ${{ secrets.AWS_SECRET_KEY }}
                TF_VAR_key_pair: ${{ secrets.KEY_PAIR_NAME }}
                TF_VAR_DBUser: ${{ secrets.DB_USER }}
                TF_VAR_DBPassword: ${{ secrets.DB_PASSWORD }}
                TF_VAR_app_version: "v${{ github.run_number }}"
                TF_VAR_app_zip_file: "${{ github.workspace }}/myapp.zip"
              run: terraform apply -auto-approve
