name: Build and Deploy HW3

on:
    workflow_dispatch:

env:
    AWS_REGION: ap-southeast-2
    TF_VERSION: 1.5.0

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Create application zip
              run: |
                  git archive -v -o myapp.zip --format=zip HEAD
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: myapp
                  path: myapp.zip
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
                  aws-region: ${{ env.AWS_REGION }}
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: ${{ env.TF_VERSION }}
            
            - name: Terraform Init
              working-directory: ./HW3/terraform/PaaS
              run: terraform init
            
            - name: Terraform Plan
              working-directory: ./HW3/terraform/PaaS
              run: terraform plan
            
            - name: Terraform Apply
              working-directory: ./HW3/terraform/PaaS
              run: terraform apply -auto-approve
